@use "sass:map";
@use '../helpers/variables' as v;
@use '../helpers/mixins' as mx;
@use '../helpers/typography-mixins' as typo;

// General

#root {
  min-height: 100vh;
  background-color: v.$blue-850;
  padding: 2rem 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: v.$blue-900;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 0;
  padding: 0;
}

h1 {
  margin-bottom: 2.5rem;
  @include typo.font-kumbh-sans;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: initial;
  letter-spacing: 0;
  text-align: center;
  text-transform: lowercase;
  color: white;

  @include mx.breakpoint('tablet-portrait') {
    font-size: 2rem;
  }
}

.container {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include mx.breakpoint('tablet-portrait') {
    min-height: 82vh;
  }
}

.container__top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-steps__step,
.clock__numeric,
.clock__button,
.form-setting__submit {
  font-family: var(--font-family);
  font-optical-sizing: var(--font-optical-sizing);
  font-style: var(--font-style);
  font-variation-settings: var(--font-variation-settings);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

.timers-nav{
  width: 100%;
  max-width: 23.75rem;
}

.timer-steps {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 3.9375rem;
  padding: .4rem;
  border-radius: 2rem;
  isolation: isolate;
  background-color: v.$blue-900;
}

.timer-steps__step {
  text-transform: lowercase;
  text-align: center;
  color: v.$blue-100;
  width: 33.33%;
  height: 3rem;
  padding: 1.0313rem 0;
  border-radius: 1.5rem;
  transition: all 0.6s;
}

.timer-steps__step--active {
  background-color: var(--chosen-color);
  color: v.$blue-900;
}

.clock {
  margin: 1rem auto 4rem;
  width: 18.75rem;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1rem;
  background: v.$gradient;
  box-shadow: -50px -50px 100px 0 rgba(39, 44, 90, 1), 50px 50px 100px 0 rgba(18, 21, 48, 1);

  @include mx.breakpoint('tablet-portrait') {
    width: 25.625rem;
  }
}

.clock__disc {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: v.$blue-900;
  display: grid;
  padding: .625rem;
}

.clock__numeric {
  grid-row: 1/-1;
  grid-column: 1/-1;
  align-self: center;
  justify-self: center;
  color: v.$blue-100;
}

.clock__buttons {
  margin-top: 9rem;
}

.clock__button {
  grid-row: 1/-1;
  grid-column: 1/-1;
  justify-self: center;
  align-self: center;
  display: block;
  color: v.$blue-100;
  text-transform: uppercase;
  cursor: pointer;
}

.clock__button--start {
  margin-bottom: 9rem;
  @include mx.breakpoint('tablet-portrait'){
    margin-bottom: 11rem;
  }
}

.clock__button--pause {
  margin-top: 9rem;
  @include mx.breakpoint('tablet-portrait'){
    margin-top: 12rem;
  }
}

.clock__hand {
  grid-row: 1/-1;
  grid-column: 1/-1;
  width: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 0.25rem;

  &::after {
    content: '';
    display: block;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background: v.$blue-900;
  }
}

.button-setting {
  --button-opacity: 0.4;

  &:hover,
  &:focus {
    --button-opacity: 1;
  }
}

.button-setting__icon {
  path {
    fill: v.$blue-100;
    fill-opacity: var(--button-opacity);
  }
}

.dialog-setting {
  background-color: transparent;
  border: 0;
  width: 100%;
  padding: 0;
  padding-bottom: 1.66rem;

  &::backdrop {
    background-color: v.$blue-850;
  }

  @include mx.breakpoint('tablet-portrait') {
    max-width: 33.75rem;
  }
}

.dialog-setting__background {
  padding-top: 1.125rem;
  padding-bottom: 3.625rem;
  background-color: white;
  border: 0;
  border-radius: 1rem;
  position: relative;

  @include mx.breakpoint('tablet-portrait') {
    padding-top: 2rem;
  }
}

.dialog-setting__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.4375rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid v.$grey-200;
  margin-bottom: 1rem;

  @include mx.breakpoint('tablet-portrait') {
    padding-inline: 2.25rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }
}

.dialog-setting__title {
  @include typo.font-kumbh-sans;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 125%;
  letter-spacing: 0;
}

.dialog-setting__button-close {
  --button-opacity: 0.4;

  &:hover,
  &:focus {
    --button-opacity: 1;
  }
}

.dialog-setting__button-close__icon {
  path {
    fill: v.$blue-850;
    fill-opacity: var(--button-opacity);
  }
}

.form-setting {
  padding-inline: 1.4375rem;

  @include mx.breakpoint('tablet-portrait') {
    padding-inline: 2.25rem;
  }
}

.form-setting__block {
  padding: 1.5rem 0;
  border-bottom: 1px solid v.$grey-200;

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    padding-bottom: 0;
    border-bottom: 0;
  }
}

.form-setting__fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.form-setting__legend {
  @include typo.font-kumbh-sans;
  font-weight: 700;
  font-size: .8125rem;
  line-height: 125%;
  letter-spacing: .3125rem;
  text-transform: uppercase;
  margin: auto auto 1rem;

  @include mx.breakpoint('tablet-portrait') {
    margin: auto 0 1rem;
  }
}

.form-setting__time {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  row-gap: 0.5rem;
  color: v.$blue-850;

  @include mx.breakpoint('tablet-portrait') {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    column-gap: 1.5rem;
  }
}

.form-setting__time-label {
  @include typo.font-kumbh-sans;
  font-weight: 700;
  font-size: .75rem;
  line-height: 125%;
  letter-spacing: 0;
  opacity: 0.4;
}

.form-setting__time-input-wrapper {
  position: relative;
  display: inline-block;

  @include mx.breakpoint('tablet-portrait') {
    grid-row: 2/3;
  }
}

.form-setting__time-input {
  @include typo.font-kumbh-sans;
  font-weight: 700;
  font-size: .8125rem;
  line-height: 125%;
  letter-spacing: .3125rem;
  border: 0;
  background-color: v.$blue-50;
  border-radius: .625rem;
  padding: .7188rem 1rem;
  width: 100%;
}

.form-setting__time-input::-webkit-inner-spin-button,
.form-setting__time-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-setting__time-input[type=number] {
  -moz-appearance: textfield;
}

.time-input__arrow-buttons {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 0.5625rem;
}

.time-input__arrow-button {
  --button-opacity: 0.4;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;

  &:hover {
    --button-opacity: 1;
  }
}

.time-input__arrow-button__icon {
  path {
    stroke: v.$blue-850;
    stroke-opacity: var(--button-opacity);
  }
}

.form-setting__radio-group {
  display: flex;
  gap: 1rem;
  margin: auto;
  width: fit-content;
}

.form-setting__custom-radio {
  display: grid;
  width: 2.5rem;
  aspect-ratio: 1;
}

.form-setting__font-radio-input,
.form-setting__color-radio-input {
  appearance: none;
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  grid-row: 1/-1;
  grid-column: 1/-1;
  transition: background-color 0.6s;
}

.form-setting__font-radio-input {
  background-color: v.$blue-50;

  &:checked {
    background-color: v.$blue-900;

    &~.form-setting__font-preview {
      color: white;
    }
  }
}

.form-setting__color-radio-input {
  &--A {
    background-color: v.$red;
  }

  &--B {
    background-color: v.$cyan;
  }

  &--C {
    background-color: v.$purple;
  }

  &:checked {
    &~.form-setting__color-radio-tick {
      opacity: 1;
    }
  }
}

.form-setting__block--radio {
  @include mx.breakpoint('tablet-portrait') {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .form-setting__fieldset {
      display: contents;

      .form-setting__legend {
        margin: auto 0;
      }

      .form-setting__radio-group {
        margin: auto 0 auto auto;
      }
    }
  }
}

.form-setting__font-preview {
  grid-row: 1/-1;
  grid-column: 1/-1;
  margin: auto;
}
.form-setting__color-radio-tick {
  grid-row: 1/-1;
  grid-column: 1/-1;
  margin: auto;
}

.form-setting__font-preview {
  transition: color 0.6s;
  font-weight: 700;
  font-size: 1rem;
  line-height: 125%;
  letter-spacing: 0;
  color: v.$blue-850;
}

.form-setting__color-radio-tick {
  transition: opacity 0.6s;
  opacity: 0;
}

.form-setting__font-preview--A {
  @include typo.font-kumbh-sans;
  font-size: .8125rem;
  line-height: 145%;
}

.form-setting__font-preview--B {
  @include typo.roboto-slab;
  font-weight: 400;
}

.form-setting__font-preview--C {
  @include typo.space-mono;
}

.form-setting__submit {
  position: absolute;
  bottom: -1.66rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 8.75rem;
  height: 3.3125rem;
  border-radius: 1.65rem;
  background-color: var(--chosen-color);
  color: white;
  transition: background-color 0.6s;
}