@use "sass:map";
@use '../helpers/variables' as v;
@use '../helpers/mixins' as mx;
@use '../helpers/typography-mixins' as typo;

// General
#root, .container{
  min-height: 100vh;
}

.container{
  background-color: v.$blue-850;
  padding: 2rem 1.3rem 2.9375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:v.$blue-900;
}

h1, h2, h3, h4, ul, p{
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

button{
  background-color: transparent;
  border: 0;
  padding: 0;
}

h1{
  margin-bottom: 2.5rem;
  @include typo.font-kumbh-sans;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: auto;
  letter-spacing: 0;
  text-transform: lowercase;
  color: white;
  @include mx.breakpoint('tablet-portrait'){
    font-size: 2rem;
  }
}

.timer-steps__step,
.clock__numeric,
.clock__button,
.form-setting__submit{
  font-family: var(--font-family);
  font-optical-sizing: var(--font-optical-sizing);
  font-style: var(--font-style);
  font-variation-settings: var(--font-variation-settings);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

.timer-steps{
  display: inline-flex;
  align-items: center;
  width: 100%;
  max-width: 23.75rem;
  height: 3.9375rem;
  padding: .4rem;
  margin-bottom: 2.9375rem;
  border-radius: 2rem;
  isolation: isolate;
  background-color: v.$blue-900;
}
.timer-steps__step{
  text-transform: lowercase;
  text-align: center;
  color: v.$blue-100;
  width: 33.33%;
  height: 3rem;
  padding: 1.0313rem 0;
  border-radius: 1.5rem;
}
.timer-steps__step--active{
  background-color: v.$red;
  color: v.$blue-900;
}

.clock{
  width: 18.75rem;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1rem;
  background: v.$gradient;
  box-shadow: -50px -50px 100px 0 rgba(39,44,90,1), 50px 50px 100px 0 rgba(18,21,48,1);
}
.clock__disc{
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: v.$blue-900;
  display: grid;
  padding: .625rem;
}
.clock__numeric{
  grid-row: 1/-1;
  grid-column: 1/-1;
  align-self: center;
  justify-self: center;
  color: v.$blue-100;
}
.clock__buttons{
  margin-top: 9rem;
}
.clock__button{
  grid-row: 1/-1;
  grid-column: 1/-1;
  justify-self: center;
  align-self: center;
  display: block;
  color: v.$blue-100;
  text-transform: uppercase;
}
.clock__button--start{
  margin-bottom: 9rem;
}
.clock__button--pause{
  margin-top: 9rem;
}
.clock__hand{
  grid-row: 1/-1;
  grid-column: 1/-1;
  width: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 0.25rem;
  &::after{
    content: '';
    display: block;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background: v.$blue-900;
  }
}

.button-setting{
  --button-opacity:0.4;
  margin-top: auto;
  &:hover, &:focus{
    --button-opacity:1;
  }
}
.button-setting__icon{
  path{
    fill:v.$blue-100;
    fill-opacity: var(--button-opacity);
  }
}

.dialog-setting{
  background-color: white;
  border: 0;
  border-radius: 1rem;
  width: 100%;
  padding-inline: 0;
  padding-bottom: 0;
  &::backdrop{
    background-color: v.$blue-850;
  }
}

.dialog-setting__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.4375rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid v.$grey-200;
  margin-bottom: 1rem;
}

.dialog-setting__title{
  @include typo.font-kumbh-sans;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 125%;
  letter-spacing: 0;
}

.dialog-setting__button-close{
  --button-opacity:0.4;
  &:hover, &:focus{
    --button-opacity:1;
  }
}
.dialog-setting__button-close__icon{
  path{
    fill:v.$blue-850;
    fill-opacity: var(--button-opacity);
  }
}

.form-setting{
  padding-inline: 1.4375rem;
}

.form-setting__block{
  padding: 1.5rem 0;
  border-bottom: 1px solid v.$grey-200;
  &:first-of-type{
    padding-top: 0;
  }
  &:last-of-type{
    padding-bottom: 0;
    border-bottom: 0;
  }
}
.form-setting__fieldset{
  margin: 0;
  padding: 0;
  border: 0;
}

.form-setting__legend{
  @include typo.font-kumbh-sans;
  font-weight: 700;
  font-size: .8125rem;
  line-height: 125%;
  letter-spacing: .3125rem;
  text-transform: uppercase;
  margin: auto auto 1rem;
}

.form-setting__time{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  row-gap: 0.5rem;
  color: v.$blue-850;
}

.form-setting__time-label{
  @include typo.font-kumbh-sans;
  font-weight: 700;
  font-size: .75rem;
  line-height: 125%;
  letter-spacing: 0;
  opacity: 0.4;
}

.form-setting__time-input-wrapper {
    position: relative;
    display: inline-block;
}

.form-setting__time-input{
  @include typo.font-kumbh-sans;
  font-weight: 700;
  font-size: .8125rem;
  line-height: 125%;
  letter-spacing: .3125rem;
  border: 0;
  background-color: v.$blue-50;
  border-radius: .625rem;
  padding: .7188rem 1rem;
  width: 100%;
}

.form-setting__time-input::-webkit-inner-spin-button,
.form-setting__time-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-setting__time-input[type=number] {
    -moz-appearance: textfield;
}

.time-input__arrow-buttons {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 0.5625rem;
}

.time-input__arrow-button {
  --button-opacity:0.4;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  &:hover{
    --button-opacity:1;
  }
}

.time-input__arrow-button__icon {
  path{
    stroke:v.$blue-850;
    stroke-opacity: var(--button-opacity);
  }
}

.form-setting__font-label{
  font-weight: 700;
  font-size: 1rem;
  line-height: 125%;
  letter-spacing: 0;
}
.form-setting__font-label--A{
  @include typo.font-kumbh-sans;
  font-size: .8125rem;
  line-height: 145%;
}
.form-setting__font-label--B{
  @include typo.roboto-slab;
  font-weight: 400;
}
.form-setting__font-label--C{
  @include typo.space-mono;
}

.form-setting__submit{
}