@use "sass:map";
@use '../helpers/variables' as v;
@use '../helpers/mixins' as mx;
@use '../helpers/typography-mixins' as typo;

// General
#root, .container{
  min-height: 100vh;
}

.container{
  background-color: v.$blue-850;
  padding: 2rem 1.3rem 2.9375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2, h3, h4, ul, p{
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

button{
  background-color: transparent;
  border: 0;
  padding: 0;
}

h1{
  margin-bottom: 2.5rem;
  @include typo.font-kumbh-sans;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: auto;
  letter-spacing: 0;
  text-transform: lowercase;
  color: white;
  @include mx.breakpoint('tablet-portrait'){
    font-size: 2rem;
  }
}

.timer-steps__step,
.clock__numeric,
.clock__button,
.form-setting__submit{
  font-family: var(--font-family);
  font-optical-sizing: var(--font-optical-sizing);
  font-style: var(--font-style);
  font-variation-settings: var(--font-variation-settings);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

.timer-steps{
  display: inline-flex;
  align-items: center;
  width: 100%;
  max-width: 23.75rem;
  height: 3.9375rem;
  padding: .4rem;
  margin-bottom: 2.9375rem;
  border-radius: 2rem;
  isolation: isolate;
  background-color: v.$blue-900;
}
.timer-steps__step{
  text-transform: lowercase;
  text-align: center;
  color: v.$blue-100;
  opacity: 0.4;
  width: 33.33%;
  height: 3rem;
  padding: 1.0313rem 0;
  border-radius: 1.5rem;
}
.timer-steps__step--active{
  background-color: v.$red;
  color: v.$blue-900;
  opacity: 1;
}

.clock{
  width: 18.75rem;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1rem;
  background: v.$gradient;
  box-shadow: -50px -50px 100px 0 rgba(39,44,90,1), 50px 50px 100px 0 rgba(18,21,48,1);
}
.clock__disc{
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: v.$blue-900;
  display: grid;
  padding: .625rem;
}
.clock__numeric{
  grid-row: 1/-1;
  grid-column: 1/-1;
  align-self: center;
  justify-self: center;
  color: v.$blue-100;
}
.clock__buttons{
  grid-row: 1/-1;
  grid-column: 1/-1;
  justify-self: center;
  align-self: center;
  margin-top: 9rem;
}
.clock__button{
  display: block;
  color: v.$blue-100;
  text-transform: uppercase;
  margin: 0 auto;
}
.clock__button--small{
  font-size: 0.5em;
  margin-top: 1rem;
}
.clock__hand{
  grid-row: 1/-1;
  grid-column: 1/-1;
  width: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 0.25rem;
  &::after{
    content: '';
    display: block;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background: v.$blue-900;
  }
}

.button-setting{
  margin-top: auto;
}


.dialog-setting__title{
  @include typo.font-kumbh-sans;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 125%;
  letter-spacing: 0;
}

.form-setting__legend,
.form-setting__time-input{
  @include typo.font-kumbh-sans;
  font-weight: 700;
  font-size: .8125rem;
  line-height: 125%;
  letter-spacing: .3125rem;
}

.form-setting__time-label{
  @include typo.font-kumbh-sans;
  font-weight: 700;
  font-size: .75rem;
  line-height: 125%;
  letter-spacing: 0;
}

.form-setting__font-label{
  font-weight: 700;
  font-size: 1rem;
  line-height: 125%;
  letter-spacing: 0;
}
.form-setting__font-label--A{
  @include typo.font-kumbh-sans;
  font-size: .8125rem;
  line-height: 145%;
}
.form-setting__font-label--B{
  @include typo.roboto-slab;
  font-weight: 400;
}
.form-setting__font-label--C{
  @include typo.space-mono;
}

.form-setting__submit{
}