@use "sass:map";
@use './mixins' as mx;

@mixin font-kumbh-sans {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;
}
@mixin roboto-slab {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
@mixin space-mono {
  font-family: "Space Mono", monospace;
  font-style: normal;
}