//colors
$blue-50: #EFF1FA;
$blue-100: #D7E0FF;
$blue-850: #1E213F;
$blue-900: #161932;
$blue-950: #14172E;
$grey-200: #E4E2E2;
$grey-400: #BBBDCB;
$cyan: #70F3F8;
$red: #F87070;
$purple: #D881F8;

$gradient: linear-gradient(to right,  #0e112a 0%,#2e325a 100%);

// breakpoints
$breakpoints: (
  'tablet-portrait': 35rem,
  'tablet-landscape': 64rem,
  'desktop': 90rem,
);

// side protection
$gutter: (
  'mobile': 6.5%,
  'tablet-portrait': 5%,
  'tablet-landscape': 3%,
  'desktop': 0,
);